[licenses]
# List of explicitly allowed licenses
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
]

[sources]
# Allow crates from crates.io registry
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []